*{
    padding: 0%;
    margin: 0%;
} 

body{
    background-color: #ffdd90;
    background-image: url(/img/galaxia2.webp);
}

.fondo{
    background: url(/img/banner-logo-marvel-2.webp);
    background-size: cover;
    height: 320px;
    align-items: center;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.card-image{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 15px;
    align-items: center;
    
}

.image-container{
    width: 200px;
    height: 200px;
    border-top: #000;
    border-radius: 35px;
    align-items: center;
}

.description-container{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100px;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-size:x-large;
    font-style:initial;
    font-family:Arial, Helvetica, sans-serif;
    width:auto;
    cursor: pointer;
}


.card-big-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 270px;
    padding: 10px;
    border: 3px solid #ccc;
    border-color: rgb(5, 5, 9);
    border-radius: 30px;
    background-color: red;
    
    
}

.card-big-box:hover{
    background-color: rgba(20, 8, 132, 0.748);
    color: white;
    cursor: pointer;
}

.container-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    color: #000;
}

input{
    width: 200px;
    height: 20px;
    border-radius: 40px;
    background-color: #ccc;
    padding: 5px;
    color: black;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font: weight 400px;
} 

input:hover{
    box-shadow: rgb(9, 7, 121);
    background-color: rgba(25, 165, 236, 0.928);
    color: white;
}

/*para 960px*/
@media screen and (max-width:980px) and (min-width: 821px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 250px;
        align-items: center;
        
    }

}

/*para 800px */
@media screen and (max-width:820px) and (min-width: 621px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 200px;
        align-items: center;
    }
    
}

/*para 600px */
@media screen and (max-width:620px) and (min-width: 501px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 150px;
        align-items: center;
    }
    
}

/*para 480px */
@media screen and (max-width:500px) and (min-width: 341px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 130px;
        align-items: center;
    }
    
}

/*para 320px */
@media screen and (max-width:340px) and (min-width: 5px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 80px;
        align-items: center;
    }
}

/*para 1000px*/
@media screen and (max-width:1024px) and (min-width: 981px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 250px;
        align-items: center;
        
    }

}

/*para 1300px*/
@media screen and (max-width:1364px) and (min-width: 1025px){

    .fondo{
        background: url(/img/banner-logo-marvel-2.webp);
        background-size: cover;
        height: 330px;
        align-items: center;
        
    }

}


